{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'Workplace details' %}{% endblock %}

{% block content %}
<table border="2">
 <tr><td>ID</td><td>{{ object.id }}</td></tr>
 <tr><td>{% translate 'room' %}</td><td>{{ object.room }}</td></tr>
 <tr><td>{% translate 'place' %}</td><td>{{ object.place }}</td></tr>
 <tr><td>{% translate 'workplace owner' %}</td>
    <td>{% trans "No explicit owner" as default_customer %} {{ object.customer|default:default_customer }}</td></tr>
 
</table>
<br/>
<b>{% translate 'Equipment' %}:</b>
<table border="2">
    <tr>
        <th>{% translate 'material' %}</th>
        <th>{% translate 'action' %}</th>
    </tr>
    {% for handover in object.handovers %}
    <tr>
        <td>{{ handover}}</td>
        <td><a href="{% url 'inventory:giveBack' handover.id %}">{% translate 'give back' %}</a></td>
    </tr>
    {% endfor %}
</table>

{% if object.customer %}
    Ausgeliehen an den Anwender des Arbeitsplatzes:
    <table border="2">
        <tr>
            <th>{% translate 'material' %}</th>
            <th>{% translate 'action' %}</th>
        </tr>
        {% for handover in object.customerHandovers %}
        <tr>
            <td>{{ handover}}</td>
            <td><a href="{% url 'inventory:giveBack' handover.id %}">{% translate 'give back' %}</a></td>
        </tr>
        {% endfor %}
    </table>


{% endif %}
{% endblock %}