{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'Customer details' %}{% endblock %}

{% block content %}
<table border="2">
 <tr><td>ID</td><td>{{ object.id }}</td></tr>
 <tr><td>Name</td><td>{{ object.name }}</td></tr>
</table>
<br/>
<b>{% translate 'Equipment' %}:</b>
<table border="2">
    <tr>
        <th>{% translate 'material' %}</th>
        <th>{% translate 'action' %}</th>
    </tr>
    {% for handover in object.handovers %}
    <tr>
        <td>{{ handover}}</td>
        <td>{{ handover.commend|default_if_none:"" }}</td>
        <td><a href="{% url 'inventory:giveBack' handover.id %}">{% translate 'give back' %}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}