{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'Give Back' %}{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <td>{% translate 'material' %}</td>
        <td>{{ thing }}</td>
    </tr>
    <tr>
        <td>{% translate 'place' %}</td>
        <td>{{ place }}</td>
    </tr>
</table>
<br />
<form method="post">{% csrf_token %}
	<input class="button" type="submit" value="{% trans 'Save' %}" />
	<a href="{% url 'inventory:detailWorkplace' user.id %}" class="button button-cancel">{% trans 'Cancel' %}</a>
</form>
{% endblock %}