{% extends 'content.html' %}

{% block title %}Artikelliste{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <th>Name</th>
        <th>EAN</th>
        <th>Typ</th>
        <th>Status</th>
        <th>Anzahl</th>
    </tr>
    {% for article in object_list %}
    <tr>
        <td>{{ article}}</td>
        <td>{{ article.ean }}</td>
        <td>{% if article.getType == "bulkart" %}
        Bulk Article
        {% else %}
        Individual Article
        {% endif %}
        </td>
        <td>{{ article.status }}</td>
        <td>{{ article.getCount }}</td>
        <td><a href="{% url 'inventory:updateBulkArticle' article.pk %}">edit</a></td> 
    </tr>
    {% endfor %}
</table>
{% endblock %}