{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'List Articles' %}{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <th><a href="{% url 'inventory:listArticle' %}?order=class">Klasse</a></th>
        <th><a href="{% url 'inventory:listArticle' %}?order=name">Name</a></th>
        <th><a href="{% url 'inventory:listArticle' %}?order=ean">EAN</a></th>
        <th><a href="{% url 'inventory:listArticle' %}?order=type">Typ</a></th>
        <th><a href="{% url 'inventory:listArticle' %}?order=status">Status</a></th>
        <th>{% translate 'Count' %}</th>
    </tr>
    {% for article in object_list %}
    <tr>
        <td>{{ article.hardwareClass}}</td>
        <td>{{ article.name}}</td>
        <td>{{ article.ean }}</td>
        <td>{% if article.getType == "bulkart" %}
        {% translate 'Bulk Article' %}
        {% else %}
        {% translate 'Individual Article' %}
        {% endif %}
        </td>
        <td>{{ article.status }}</td>
        <td>{{ article.getCount }}</td>
        <td>{% if article.getType == "bulkart" %}
        <a href="{% url 'inventory:updateBulkArticle' article.pk %}">
        {% else %}
        <a href="{% url 'inventory:updateArticle' article.pk %}">
        {% endif %}
        {% translate 'edit' %}</a></td> 
    </tr>
    {% endfor %}
</table>
{% endblock %}