{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'List of users' %}{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <th>Name</th>
        <th colspan="2">{% translate 'action' %}</th>
    </tr>
    {% for customer in object_list %}
    <tr>
        <td>{{ customer.name}}</td>
        <td><a href="{% url 'inventory:detailCustomer' customer.id %}">details</a></td>
        <td><a href="{% url 'inventory:updateCustomer' customer.id %}">{% translate 'edit' %}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}