{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'List of devices' %}{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <th><a href="{% url 'inventory:listEquipment' %}?order=class">Klasse</a></th>
        <th><a href="{% url 'inventory:listEquipment' %}?order=name">Name</a></th>
        <th>Type</th>
        <th><a href="{% url 'inventory:listEquipment' %}?order=sn">{% translate 'SN or Count' %}</a></th>
        <th>Position</th>
        <th colspan="3">{% translate 'action' %}</th>
    </tr>
    {% for equipment in object_list %}
    <tr>
        <td>{% if equipment.getType == "equipment" %}
            {{ equipment.base.hardwareClass }}
        {% else %}
            {{ equipment.hardwareClass }}
        {% endif %}</td>
        
        <td>{% if equipment.getType == "equipment" %}
            {{ equipment.base.name }}
        {% else %}
            {{ equipment.name }}
        {% endif %}</td>
        <td>{% if equipment.getType == "equipment" %}
            {% translate 'Individual Article' %}
        {% else %}
            {% translate 'Bulk Article' %}
        {% endif %}</td>
        <td>{% if equipment.getType == "equipment" %}
            {{ equipment.sn }}
        {% else %}
            {{ equipment.stock }}
        {% endif %}</td>
        <td>{{ equipment.getLastUser }}</td>
        <td><a href="{% url 'inventory:createHandover' equipment.getType equipment.id %}">{% translate 'handover' %}</a></td>
        <td><a href="{% url 'inventory:updateEquipment' equipment.id %}">{% translate 'edit' %}</a></td>
        <td><a href="{% url 'inventory:detailEquipment' equipment.id %}">{% translate 'details' %}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}