{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'List of workplaces' %}{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <th>{% translate 'room' %}</th>
        <th>{% translate 'place' %}</th>
        <th>{% translate 'owner' %}
        <th colspan="2">{% translate 'action' %}</th>
    </tr>
    {% for workplace in object_list %}
    <tr>
        <td>{{ workplace.room}}</td>
        <td>{{ workplace.place }}</td>
        <td>{% trans "not assigned" as default_customer %} {{ workplace.customer|default:default_customer }}</td>
        <td><a href="{% url 'inventory:detailWorkplace' workplace.id %}">details</a></td>
        <td><a href="{% url 'inventory:updateWorkplace' workplace.id %}">{% translate 'edit' %}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}