{% extends 'content.html' %}
{% load i18n %}
{% block title %}{% translate 'List of devices' %}{% endblock %}

{% block content %}
<table border="2">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>{% translate 'SN or Count' %}</th>
        <th>Position</th>
        <th colspan="2">{% translate 'action' %}</th>
    </tr>
    {% for equipment in object_list %}
    <tr>
        <td>{{ equipment}}</td>
        <td>{% if equipment.getType == "equipment" %}
            {% translate 'Bulk Article' %}
        {% else %}
            {% translate 'Individual Article' %}
        {% endif %}</td>
        <td>{% if equipment.getType == "equipment" %}
            {{ equipment.sn }}
        {% else %}
            {{ equipment.stock }}
        {% endif %}</td>
        <td>{{ equipment.getLastUser }}</td>
        <td><a href="{% url 'inventory:createHandover' equipment.getType equipment.id %}">{% translate 'handover' %}</a></td>
        <td><a href="{% url 'inventory:updateEquipment' equipment.id %}">{% translate 'edit' %}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}